.section-1 {
    color: yellow;
    background-color: purple    
}

.section-2 {
    color: orange;
    background-color: blue    
}

.section-6 {
    color: green;
    background-color: #e1ccb3    
}